/* Estilos para o container do formulário de login */
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Estilos para os campos de entrada do formulário */
.form-control {
  margin-bottom: 1rem;
}

/* Estilos para os botões */
.d-grid .btn {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

/* Estilos para a seção de escolha de restaurantes */
.text-center {
  padding-top: 1rem;
}

.text-center h4 {
  margin-bottom: 1rem;
}

.login-centro {
  display: flex;
  place-items: center;
  justify-content: center;
  vertical-align: center;
  height: 100vh;
  width: 100vw;
}
.master {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.employee-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding-top: 10px; /* Espaço adicional para a logo */
}

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 20px; /* Espaçamento abaixo da barra */
}